.foot {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }
  
  .contact-us {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-us h2 {
    margin-top: 0;
  }
  
  .contact-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-us li {
    margin-bottom: 10px;
  }
  
  .contact-us i {
    font-size: 18px;
    margin-right: 10px;
    color: #666;
  }
  
  .contact-us a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .contact-us a:hover {
    color: #23527c;
  }